name: Test messaging_app

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.10

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          cd messaging_app
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Tests
        env:
          MYSQL_DB: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_pass
          MYSQL_HOST: localhost
          MYSQL_PORT: 3306
        run: |
          cd messaging_app
          pytest --junitxml=pytest-report.xml
