name: Build and Publish Messaging app to DockerHub

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: scottandee
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build Image
        run: |
          docker build messaging_app/ -t scottandee/messaging_app:latest
      - name: Publish Image to DockerHub
        run: |
          docker push scottandee/messaging_app:latest